body{
    background: gray;
    font: normal 15px oswald;
}
header{
    text-align: center;
    color: white;
}
section{
    background: white;
    font: normal 15px arial;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
}
footer{
    text-align: center;
    font-style: italic;
}